# ignore all
*
# authorize docker to be able to copy the content of theses files and folders

# authorization for api, set here only the requiered files/folders for your api
!api/app
!api/index.js
!api/package.json
!api/yarn.lock
!api/docs/swagger
!api/.env

# this is for prod env, this folder must be present and containing your privkey.pem and fullchain.pem
!ssl

# authorization for front, set here only the requiered files/folders for your front
!front/build
!docker/nginx

# leave this, it's requiered for optional modules usage
!docker/modules

#change this to your migrations folder path if you want to use sqitch option, path MUST be inside automation-docker-deployement folder 
!api/migrations